* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 65%;
  height: 200px;
  margin: 20px auto;
}

.container .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-shadow: 0 0 5px #262626;
          box-shadow: 0 0 5px #262626;
  overflow: hidden;
  width: 100%;
  min-height: 30vh;
  margin-top: 10px;
  margin-bottom: 10px;
  -webkit-transition: .2s ease-in;
  transition: .2s ease-in;
  -webkit-animation: anim-item 0.5s cubic-bezier(0.77, 0, 0.18, 1) forwards;
          animation: anim-item 0.5s cubic-bezier(0.77, 0, 0.18, 1) forwards;
  cursor: pointer;
}

.container .item img {
  max-width: 30vw;
  max-height: 30vh;
}

.container .item .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
  padding-left: 2vw;
}

.container .item .info h3, .container .item .info p {
  margin-bottom: 10px;
}

.item:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.info .link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.info .link .linkproj {
  text-decoration: none;
  padding: 5px;
  margin: 7px 5px;
  color: #e5b31b;
  border: 2px solid #262626;
  border-radius: 7px;
  background-color: #262626;
  cursor: pointer;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.info .link .linkproj:hover {
  background-color: white;
  color: #262626;
}

.back {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: fixed;
  top: 0;
  left: 0;
  margin-top: 2vh;
  margin-left: 2vw;
  -webkit-animation: animcoming-2 3s cubic-bezier(0.77, 0, 0.18, 1) forwards;
          animation: animcoming-2 3s cubic-bezier(0.77, 0, 0.18, 1) forwards;
}

.back a {
  text-decoration: none;
  color: #262626;
  font-size: 1.2rem;
  -webkit-transition: all 0.3s cubic-bezier(0.77, 0, 0.18, 1);
  transition: all 0.3s cubic-bezier(0.77, 0, 0.18, 1);
}

.back i {
  -webkit-transition: all 0.6s cubic-bezier(0.77, 0, 0.18, 1);
  transition: all 0.6s cubic-bezier(0.77, 0, 0.18, 1);
}

.back a:hover > i {
  -webkit-transform: rotate(-360deg);
          transform: rotate(-360deg);
}

.back a:hover {
  color: #e5b31b;
}

.next {
  margin-left: 10px;
}

.fa-chevron-left {
  margin-right: 1vw;
}

.listing-items {
  list-style: none;
  padding: 10px 10px;
}

.listing-items a {
  text-decoration: none;
  color: #262626;
  border-bottom: 4px solid transparent;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  padding-bottom: 5px;
}

.listing-items a:hover {
  border-bottom: 4px solid #e5b31b;
  color: #e5b31b;
}

.listing-items .active {
  border-bottom: 4px solid #e5b31b;
  color: #e5b31b;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 15vh;
  -webkit-box-shadow: 0 0 10px #262626;
          box-shadow: 0 0 10px #262626;
  -webkit-animation: anim-menu 3s cubic-bezier(0.77, 0.5, 0.18, 1) forwards;
          animation: anim-menu 3s cubic-bezier(0.77, 0.5, 0.18, 1) forwards;
}

.nav .listing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: auto auto 5px;
}

@-webkit-keyframes anim-menu {
  0% {
    -webkit-transform: translateY(-200%);
            transform: translateY(-200%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@keyframes anim-menu {
  0% {
    -webkit-transform: translateY(-200%);
            transform: translateY(-200%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@-webkit-keyframes animcoming-2 {
  0% {
    -webkit-transform: translateY(-200%);
            transform: translateY(-200%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@keyframes animcoming-2 {
  0% {
    -webkit-transform: translateY(-200%);
            transform: translateY(-200%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@-webkit-keyframes anim-item {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes anim-item {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}
/*# sourceMappingURL=project.css.map */