* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  overflow-y: auto;
  overflow-x: hidden;
  background: #262626;
}

.lienformation {
  text-decoration: none;
  color: white;
}

.lienformation:hover {
  color: #e5b31b;
}

.back {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: fixed;
  top: 0;
  left: 0;
  margin-top: 2vh;
  margin-left: 2vw;
  -webkit-animation: animcoming-2 3s cubic-bezier(0.77, 0, 0.18, 1) forwards;
          animation: animcoming-2 3s cubic-bezier(0.77, 0, 0.18, 1) forwards;
  z-index: 10;
}

.back a {
  color: white;
  font-size: 1.2rem;
  -webkit-transition: all 0.3s cubic-bezier(0.77, 0, 0.18, 1);
  transition: all 0.3s cubic-bezier(0.77, 0, 0.18, 1);
  text-decoration: none;
}

.back i {
  -webkit-transition: all 0.6s cubic-bezier(0.77, 0, 0.18, 1);
  transition: all 0.6s cubic-bezier(0.77, 0, 0.18, 1);
}

.back a:hover > i {
  -webkit-transform: rotate(-360deg);
          transform: rotate(-360deg);
}

.back a:hover {
  color: #e5b31b;
}

.linkmenu {
  margin-left: 10px;
}

.fa-chevron-left {
  margin-right: 1vw;
}

.content {
  margin-left: 8vw;
  -webkit-animation: animcoming-5 2s cubic-bezier(0.77, 0, 0.18, 1) forwards;
          animation: animcoming-5 2s cubic-bezier(0.77, 0, 0.18, 1) forwards;
  color: white;
  text-align: center;
  overflow: auto;
  background: #262626;
}

.timeline {
  border-left: 4px solid #e5b31b;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  background: #262626;
  color: white;
  margin: 50px auto;
  letter-spacing: 0.5px;
  position: relative;
  line-height: 1.4em;
  font-size: 1.03em;
  padding: 50px;
  list-style: none;
  text-align: left;
  font-weight: 100;
  max-width: 70%;
}

.timeline h3 {
  letter-spacing: 1.5px;
  font-weight: 400;
  font-size: 1.4em;
}

.timeline .event {
  border-bottom: 1px dashed gray;
  padding-bottom: 25px;
  margin-bottom: 50px;
  position: relative;
  background: #262626;
}

.timeline .event:last-of-type {
  padding-bottom: 0;
  margin-bottom: 0;
  border: none;
}

.timeline .event:before, .timeline .event:after {
  position: absolute;
  display: block;
  top: 0;
}

.timeline .event:before {
  left: -217.5px;
  color: #e5b31b;
  content: attr(data-etude);
  text-align: right;
  font-weight: 100;
  font-size: 0.9em;
  min-width: 120px;
}

.timeline .event:after {
  -webkit-box-shadow: 0 0 0 4px #e5b31b;
          box-shadow: 0 0 0 4px #e5b31b;
  left: -57.85px;
  background: #333333;
  border-radius: 50%;
  height: 11px;
  width: 11px;
  content: "";
  top: 5px;
}

::-webkit-scrollbar {
  width: .5rem;
}

::-webkit-scrollbar-track {
  background-color: darkgrey;
}

::-webkit-scrollbar-thumb {
  background-color: #e5b31b;
  border-radius: 100px;
}

.premier {
  -webkit-animation: animcoming-3 0.3s cubic-bezier(0.77, 0, 0.18, 1) forwards;
          animation: animcoming-3 0.3s cubic-bezier(0.77, 0, 0.18, 1) forwards;
}

@-webkit-keyframes anim-item {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes anim-item {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}

@-webkit-keyframes animcoming-1 {
  0% {
    -webkit-transform: translateX(200%);
            transform: translateX(200%);
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@keyframes animcoming-1 {
  0% {
    -webkit-transform: translateX(200%);
            transform: translateX(200%);
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@-webkit-keyframes animcoming-2 {
  0% {
    -webkit-transform: translateY(-200%);
            transform: translateY(-200%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@keyframes animcoming-2 {
  0% {
    -webkit-transform: translateY(-200%);
            transform: translateY(-200%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@-webkit-keyframes animcoming-3 {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@keyframes animcoming-3 {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@-webkit-keyframes animcoming-4 {
  0% {
    -webkit-transform: translateX(-600%);
            transform: translateX(-600%);
    opacity: 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@keyframes animcoming-4 {
  0% {
    -webkit-transform: translateX(-600%);
            transform: translateX(-600%);
    opacity: 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@-webkit-keyframes animcoming-5 {
  0% {
    -webkit-transform: translateX(300%);
            transform: translateX(300%);
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@keyframes animcoming-5 {
  0% {
    -webkit-transform: translateX(300%);
            transform: translateX(300%);
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}
/*# sourceMappingURL=school.css.map */