$main-color: #e5b31b
$second-color: #262626
    
* 
    margin: 0
    padding: 0
    box-sizing: border-box

body 
    width: 100%
    height: 100vh
    font-family: 'Open Sans', sans-serif
    font-size: 1rem
    overflow-y: auto
    overflow-x: hidden
    background: $second-color

.lienformation
    text-decoration: none
    color: white

    &:hover
       color: $main-color 

.back
    display: flex
    flex-direction: row
    justify-content: space-around
    position: fixed
    top: 0
    left: 0
    margin-top: 2vh
    margin-left: 2vw 
    animation: animcoming-2 3s cubic-bezier(0.77, 0, 0.18, 1) forwards
    z-index: 10

    a 
        color: white
        font-size: 1.2rem
        transition: all .3s cubic-bezier(.77, 0, .18, 1)
        text-decoration: none


    i 
        transition: all .6s cubic-bezier(0.77, 0, 0.18, 1)

    a:hover > i
        transform: rotate(-360deg)

    a:hover 
        color: #e5b31b
        

.linkmenu 
    margin-left: 10px 

.fa-chevron-left
    margin-right: 1vw


.content 
    margin-left: 8vw
    animation: animcoming-5 2s cubic-bezier(0.77, 0, 0.18, 1) forwards
    color: white
    text-align: center
    overflow: auto
    background: $second-color



.timeline
    border-left: 4px solid $main-color
    border-bottom-right-radius: 4px
    border-top-right-radius: 4px
    background: rgba($second-color, 3%)
    color: rgba(white, 80%) 
    margin: 50px auto
    letter-spacing: 0.5px   
    position: relative
    line-height: 1.4em
    font-size: 1.03em   
    padding: 50px   
    list-style: none
    text-align: left  
    font-weight: 100  
    max-width: 70%

    h3 
        letter-spacing: 1.5px
        font-weight: 400
        font-size: 1.4em

    .event 
        border-bottom: 1px dashed rgba(grey, 10%)
        padding-bottom: (50px * 0.5)
        margin-bottom: 50px  
        position: relative
        background: $second-color
        

        &:last-of-type  
            padding-bottom: 0
            margin-bottom: 0 
            border: none      
        

        &:before, &:after 
            position: absolute
            display: block
            top: 0
        
        &:before 
            left: (((120px * 0.6) + 50px + 4px + 11px + (4px * 2)) * 1.5) * -1    
            color: rgba($main-color, 40%)  
            content: attr(data-etude)
            text-align: right
            font-weight: 100  
            font-size: 0.9em
            min-width: 120px
    

        &:after 
            box-shadow: 0 0 0 4px rgba($main-color,100%)    
            left: (50px + 4px + (11px * 0.35)) * -1        
            background: lighten($second-color,5%)    
            border-radius: 50%  
            height: 11px
            width: 11px
            content: ""
            top: 5px



::-webkit-scrollbar
  width: .5rem


::-webkit-scrollbar-track
  background-color: darkgrey

::-webkit-scrollbar-thumb
  background-color: $main-color
  border-radius: 100px 


.premier
    animation: animcoming-3 .3s cubic-bezier(0.77, 0, 0.18, 1) forwards


@keyframes anim-item
    0%
        opacity: 0
    100% 
        opacity: 100% 
    

@keyframes animcoming-1
    0%
        transform: translateX(200%)
    100%
        transform: translateX(0%)

@keyframes animcoming-2
    0%
        transform: translateY(-200%)
    100%
        transform: translateY(0%)

@keyframes animcoming-3
    0%
        transform: translateX(100%)
        opacity: 0
    60%
        opacity: 0
    100%
        opacity: 1
        transform: translateX(0%)

@keyframes animcoming-4
    0%
        transform: translateX(-600%)
        opacity: 0
    100%
        opacity: 1
        transform: translateX(0%)

@keyframes animcoming-5
    0%
        transform: translateX(300%)
    100%
        transform: translateX(0%)