*  
    box-sizing: border-box
    margin: 0
    padding: 0

html 
    height: 100%
    width: 100%

body
    background: #fff
    width: 100%
    height: 100%
    font-family: 'Open Sans', sans-serif
    overflow: hidden

body::before
    content: ''
    position: absolute
    background-color: #262626
    top: 34vh
    left: 0
    transform: rotate(160deg)
    width: 200%
    height: 200%
    z-index: -1
    box-shadow: 0 0 10px #262626

a 
    color: inherit
    text-decoration: none
    margin: 10px 10px
    
h1
    font-weight: bold

.content
    display: flex
    flex-direction: column
    align-items: center
    margin: auto auto

.navliste
    display: flex
    flex-direction: row




