* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  width: 100%;
}

body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #fff;
  width: 100%;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  overflow: hidden;
}

body::before {
  content: '';
  position: absolute;
  background-color: #262626;
  top: 40%;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  -webkit-box-shadow: 0 0 10px #262626;
          box-shadow: 0 0 10px #262626;
  -webkit-animation: coming 1.5s cubic-bezier(0.77, 0, 0.18, 1) forwards;
          animation: coming 1.5s cubic-bezier(0.77, 0, 0.18, 1) forwards;
}

a {
  opacity: 0;
  color: #fff;
  text-decoration: none;
  margin: 10px 10px;
  padding: 5px 5px;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
  -webkit-animation: text-coming 1s cubic-bezier(0.77, 0, 0.18, 1) forwards;
          animation: text-coming 1s cubic-bezier(0.77, 0, 0.18, 1) forwards;
}

a:hover {
  color: #e5b31b;
  border-bottom: 4px solid #e5b31b;
}

.active {
  color: #e5b31b;
  border-bottom: 4px solid #e5b31b;
}

.anim {
  overflow: hidden;
  position: relative;
  display: block;
}

.anim:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: translateX(-101%);
          transform: translateX(-101%);
  -webkit-animation: animate-1 2s cubic-bezier(0.77, 0, 0.18, 1) forwards;
          animation: animate-1 2s cubic-bezier(0.77, 0, 0.18, 1) forwards;
  background-color: #262626;
}

.anim:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: translateX(-101%);
          transform: translateX(-101%);
  -webkit-animation: animate-2 2s cubic-bezier(0.77, 0, 0.18, 1) forwards;
          animation: animate-2 2s cubic-bezier(0.77, 0, 0.18, 1) forwards;
  background-color: #fff;
}

.anim:nth-of-type(1):before, .anim:nth-of-type(1):after {
  -webkit-animation-delay: .5s;
          animation-delay: .5s;
}

.anim:nth-of-type(2):before, .anim:nth-of-type(2):after {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

@-webkit-keyframes animate-1 {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(101%);
            transform: translateX(101%);
  }
}

@keyframes animate-1 {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(101%);
            transform: translateX(101%);
  }
}

@-webkit-keyframes animate-2 {
  0% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(200%);
            transform: translateX(200%);
  }
}

@keyframes animate-2 {
  0% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(200%);
            transform: translateX(200%);
  }
}

@-webkit-keyframes coming {
  0% {
    -webkit-transform: translateY(60%);
            transform: translateY(60%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@keyframes coming {
  0% {
    -webkit-transform: translateY(60%);
            transform: translateY(60%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@-webkit-keyframes text-coming {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes text-coming {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes base {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes base {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.contact {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

.about {
  -webkit-animation-delay: 1.7s;
          animation-delay: 1.7s;
}

.home {
  -webkit-animation-delay: 1.9s;
          animation-delay: 1.9s;
}

.project {
  -webkit-animation-delay: 2.1s;
          animation-delay: 2.1s;
}

.resou {
  -webkit-animation-delay: 2.3s;
          animation-delay: 2.3s;
}

.fa-github {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

.fa-linkedin {
  -webkit-animation-delay: 1.9s;
          animation-delay: 1.9s;
}

.fa-facebook {
  -webkit-animation-delay: 2.3s;
          animation-delay: 2.3s;
}

h1 {
  display: block;
  font-weight: bold;
  -webkit-animation: base 2.3s cubic-bezier(0.77, 0, 0.18, 1) forwards;
          animation: base 2.3s cubic-bezier(0.77, 0, 0.18, 1) forwards;
}

h4 {
  display: block;
  font-family: 'Shadows Into Light', cursive;
  font-size: 1.5rem;
  -webkit-animation: base 2.3s cubic-bezier(0.77, 0, 0.18, 1) forwards;
          animation: base 2.3s cubic-bezier(0.77, 0, 0.18, 1) forwards;
}

i {
  color: #e5b31b;
  font-size: 1.3rem;
}

.fab {
  -webkit-animation: text-coming 2s cubic-bezier(0.77, 0, 0.18, 1) forwards;
          animation: text-coming 2s cubic-bezier(0.77, 0, 0.18, 1) forwards;
}

.link {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  bottom: 0;
  width: 100%;
}

.listlink {
  margin: 5vh auto;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 30vh auto;
}

.titlehead {
  -webkit-transform: translateY(-15px);
          transform: translateY(-15px);
  margin-bottom: 5vh;
}

.navlist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.name {
  color: #e5b31b;
  background-color: rgba(0, 0, 0, 0.15);
}

@media screen and (max-width: 460px) {
  .navlist {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    border: 4px solid transparent;
  }
}

@media screen and (max-height: 600px) {
  .titlehead {
    -webkit-transform: translateY(-45px);
            transform: translateY(-45px);
  }
}

@media screen and (max-height: 645px) {
  .link {
    top: 0;
  }
}
/*# sourceMappingURL=styles.css.map */