* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  width: 100%;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #fff;
  width: 100%;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  overflow: hidden;
}

body::before {
  content: '';
  position: absolute;
  background-color: #262626;
  top: 40%;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  -webkit-box-shadow: 0 0 10px #262626;
          box-shadow: 0 0 10px #262626;
}

a {
  color: #fff;
  text-decoration: none;
  margin: 10px 10px;
  padding: 5px 5px;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

a:hover {
  color: yellow;
  border-bottom: 4px solid yellow;
}

.active {
  color: yellow;
  border-bottom: 4px solid yellow;
}

.anim {
  overflow: hidden;
  position: relative;
  display: block;
}

.anim:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: translateX(-101%);
          transform: translateX(-101%);
  -webkit-animation: animate-1 2s cubic-bezier(0.77, 0, 0.18, 1) forwards;
          animation: animate-1 2s cubic-bezier(0.77, 0, 0.18, 1) forwards;
  background-color: #000;
}

.anim:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: translateX(-101%);
          transform: translateX(-101%);
  -webkit-animation: animate-2 2s cubic-bezier(0.77, 0, 0.18, 1) forwards;
          animation: animate-2 2s cubic-bezier(0.77, 0, 0.18, 1) forwards;
  background-color: #fff;
}

.anim:nth-of-type(1):before, .anim:nth-of-type(1):after {
  -webkit-animation-delay: .5s;
          animation-delay: .5s;
}

.anim:nth-of-type(2):before, .anim:nth-of-type(2):after {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

@-webkit-keyframes animate-1 {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(101%);
            transform: translateX(101%);
  }
}

@keyframes animate-1 {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(101%);
            transform: translateX(101%);
  }
}

@-webkit-keyframes animate-2 {
  0% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(200%);
            transform: translateX(200%);
  }
}

@keyframes animate-2 {
  0% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(200%);
            transform: translateX(200%);
  }
}

h1 {
  display: block;
  font-weight: bold;
}

h4 {
  display: block;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 30vh auto;
}

.titlehead {
  margin-bottom: 5vh;
}

.navlist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.name {
  color: yellow;
  background-color: rgba(0, 0, 0, 0.05);
}

@media screen and (max-width: 460px) {
  .navlist {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    border: 4px solid transparent;
  }
}
/*# sourceMappingURL=styles.css.map */